.custom-config-list li{
    display: block;
    position: relative;
    background: #55aadd;
    margin-bottom: 5px;
    padding: 2px 10px 2px 10px;
}
.custom-config-list li .input-value{ color: #ffffff; font-weight: 600;}
.custom-config-list li i.fa{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    width: 60px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: #fff;

}
.custom-config-list li ul.sub-heading-list li{
    display: block;
    position: relative;
    background: #fff;
    margin-bottom: 5px;
}
.custom-config-list li ul.sub-heading-list li .input-value{color: #55aadd;}
.custom-config-list li ul.sub-heading-list li i.fa{ color: #5d5d5d; width: 40px;}
.custom-config-list li ul.sub-heading-list li > ul.sub-heading-list li{
    border-bottom: 1px solid #ccc;
    padding: 0;
}
.custom-config-list li ul.sub-heading-list li > ul.sub-heading-list li:last-child{
    border-bottom: 0;
}

/* Image Rotate Issue Fixed */
.user-rotate{margin: 16% auto 16% auto; max-height: 100%; display: block;}
/*.PopupImgBox .user-rotate{margin-left: 180px;}*/
.tooltip-inner {
    max-width: 100px !important;
    max-height: 100px !important;
}
.ui-autocomplete {padding: 2px; z-index: 9999;}

/*input focus red border*/
.form-control.border-red:focus{ border: 1px solid #cc0000;}
.checkBlockRow_custom div.form-group{
    min-height: 94px !important;
}
.checkBlockRow_custom div.form-group div.form-group{
    min-height: 0px !important;
}
.error-message{color: #cc0000;}
.error-msg-parent-box{
    position: relative;
}
.error-msg-parent-box .form-error{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 150%;
    color: #ff0000;
    font-family: 'latomedium';
    font-size: 14px;
}
.custom-ars-table{
    max-height: 300px;
}
.custom-ars-table table thead tr th{
    vertical-align: middle;
}
.custom-ars-table table tbody tr td{
    vertical-align: top;
/*    word-break: break-all;*/
}
.custom-ars-table table tbody tr td .checkbox{
    margin: 0;
}
.custom-ars-table table tbody tr td .checkbox label{
    margin-bottom: 0;
}
.height500{
    height: 500px;
}


/* Media Queries Starts Here */
@media only screen and (max-width: 992px){
    .custom-ars-table table thead tr th{
        font-size: 12px;
    } 
}


/* Media Queries Starts Here */
