.new-role-selector-header{
    font-family: 'latomedium';
    font-size: 24px;
    text-transform: capitalize !important;
    text-align: left;
}
.white-boxBorder {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 8px rgba(0,0,0, .1);
    margin-bottom: 30px;
}

.icon-wrapper {
    height: 120px;
    position: relative;
    display: table-cell;
    width: 1000px;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 15px;
}

.icon-wrapper h2 {
    font-size: 16px;
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    font-weight: 700;
    background-color: rgba(0,0,0, .2);
}

.icon-wrapper span {
    height: 100px;
    display: inline-block;
}

.selector-list,
.content {
    height: 168px;
}

.selector-list .mCSB_inside > .mCSB_container {
    margin-right: 20px;
}

.selector-list li {
    border-bottom: 1px solid #ecf0f0;
    position: relative;
}

.selector-list li a {
    display: block;
    padding: 10px 25px 10px 5px;
    color: #000;
}

.selector-list li a::before {
    content: '\f105';
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    font-family:'FontAwesome';
    color: #000;

}

.selector-list li .count {
    background-color: #cc0000;
    padding: 2px 4px;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 8px;
}

.role-color-blue {
    background-color: #00bcd4;
}

.role-color-orange {
    background-color: #f7ab22;
}

.role-color-red {
    background-color: #ff5722;
}

.role-color-darkBlue {
    background-color: #00a3ad;
}
.role-color-green {
    background-color: #00cda3;
}
.role-color-navyBlue {
    background-color: #0058a9;
}